.comp__pagination {
    position: relative;
    margin: 0 auto;
    display: table;

    .swiper-button-prev {
        float: left;
        position: relative;
        background-image: none;
        margin-top: 0;
        width: 7px;
        left: auto
    }

    .swiper-button-next {
        float: left;
        position: relative;
        background-image: none;
        margin-top: 0;
        width: 7px;
        left: auto
    }
    .swiper-pagination {
        position: static;
        position: relative;
        float: left;        
        margin: 0 15px;
        
        &.swiper-pagination-bullets {
            .swiper-pagination-bullet {
                width: 8px;
                height: 8px;
                display: inline-block;
                border-radius: 100%;
                background: $white;
                border: 2px solid $gray;  
                margin: 0 4px; 
                
                &.swiper-pagination-bullet-active {
                    border: 2px solid $black ;
                    background: $black;
                }
            }
        }
    }
}