.text__preview-block {
	position: relative;
	z-index: 3;    
	margin-top: 50px;

	@include breakpoint(sm){

	}

	@include breakpoint(md){

	}

	@include breakpoint(lg){
		position: absolute;
		margin-left: 90px;
		margin-right: 150px;
	}

	@include breakpoint(xl){
		margin-right: 150px;
    }    
    
	@include breakpoint(wide){
		margin-right: 200px;
	}       
}