.minimalist__section {
    background-color: $white; 
    padding: 25px 0;
    margin-left: 0;
    position: relative;

    @include md {
        padding: 90px 0;
        margin-left: 150px;
    }     
    
    &.box-shadow {
        box-shadow: 
        inset 0px 31px 38px -20px #CCC,
        inset 0px -31px 38px -20px #CCC;
    }

    &-headline {
        text-align: center;
        padding: 40px 0;
    }

    &.gray {
        background-color: $s;
    }    
}