%clientcard {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    background-clip: content-box;
    white-space: normal;    
    background-color: $a;
    width: calc(50% - 1.65rem);
    opacity: 0;
    margin: 1rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    @include Transition;

	@include breakpoint(lg){
        width: calc(33.333% - 2rem);
        margin-right: 1rem;
        margin-bottom: 1rem;
	}

	@include breakpoint(xl){
		width: calc(25% - 2rem);
    }

    &:before {
        content: " ";
        float: left;
        padding-top: 100%;
    }


    .client__grid-li-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;   

        &:after {
            content: " ";
            display: table;
            clear: both;
        }
        
        .client__grid-li-content {
            width: 100%;
            padding: 1rem;  
            
            @include breakpoint(lg){
                padding: 2rem;
            }
            
            &-logo {
                margin: 0.5rem auto 0.5rem;
                width: 70%;

                @include breakpoint(lg){
                    width: 50%;
                    margin: 1rem auto 1rem;
                }

                svg {
                    width: 100%;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    >:first-child {
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }        

}