<section class="alerts__section">
    <div class="container-modified">
        <!-- "alert-warning", "alert-info" or "alert-other". These give you the three colors -->
        <div class="alert alert-warning alert-dismissible fade show" role="alert"> 
            
            <div class="alert__wrapper">
                <div class="alert__message">
                    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                </div>
                <button type="button" class="close pull-left" data-dismiss="alert" aria-label="Close">
                    
                    <img src="/dist/assets/img/icons/alert_close.svg" />
                    
                </button>
            </div>
        </div>
    </div>
</section>