<footer class="footer">
    <div class="container-fluid">
            <div class="row">
                <div class="container-alt">
                    <div class="row">
                                        
                            <div class="footer__section">
                                <div class="container-alt">
                                    <div class="col-xs-12">
                                        <div class="footer__header">
                                                <img src="/dist/assets/img/RP_Logo_Horizontal-White.svg" />
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="footer__body">
                                            <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="accordion" id="contactMobileExpand">
                                                            <div class="card">
                                                                <div class="card-header" id="headingOne">
                                                                    <h5 class="mb-0">
                                                                        <!-- This is a button because on mobile it functions as an accordion -->
                                                                        <button class="footer__body-btn collapsed hidden-md hidden-lg" type="button" data-toggle="collapse" data-target="#collapseContact" aria-expanded="false" aria-controls="collapseContact">
                                                                            <div class="footer__body-title">
                                                                                <h5>contact us</h5>
                                                                            </div>
                                                                        </button>

                                                                        <!-- Duplicate for desktop -->
                                                                        <div class="footer__body-no-mobile hidden-xs hidden-sm">
                                                                            <div class="footer__body-title">
                                                                                <h5>contact us</h5>
                                                                            </div>  
                                                                        </div>                                                          
                                                                    </h5>
                                                                </div>
                                                            
                                                                <div id="collapseContact" class="collapse" aria-labelledby="headingOne" data-parent="#contactMobileExpand">
                                                                    <div class="card-body">
                                                                            <div class="footer__body__contact">
                                                                                <div class="footer__body__contact-block">
                                                                                    <div class="footer__body__contact-headline">
                                                                                        <h6>call us</h6>
                                                                                    </div>
                                                                                    <div class="footer__body__contact-details">
                                                                                        <span>877-426-8805</span>
                                                                                        <p>
                                                                                            M-F 8:00am – 9:00pm EST<br>
                                                                                            SAT 10:00am – 3:00pm EST
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="footer__body__contact-block">
                                                                                    <div class="footer__body__contact-headline">
                                                                                    <h6>mail to:</h6>
                                                                                    </div>
                                                                                    <div class="footer__body__contact-details">
                                                                                        <p>
                                                                                                RoundPoint Mortgage Servicing Corporation
                                                                                                Attention Correspondence<br>
                                                                                                PO Box 19409<br>
                                                                                                Charlotte, NC 28219-9409
                                                                                        </p>
                                                                                    </div>
                                                                                </div>                                        
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                            </div>                                         
                                                        </div>
                                                    </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="footer__body-column">
                                                        <div class="accordion" id="aboutMobileExpandLinks">                                    
                                                                <div class="card">
                                                                    <div class="card-header" id="headingTwo">
                                                                        <h5 class="mb-0">
                                                                            <button class="footer__body-btn collapsed  hidden-md hidden-lg" type="button" data-toggle="collapse" data-target="#collapseLinks2" aria-expanded="false" aria-controls="collapseLinks2">
                                                                                <div class="footer__body-title">
                                                                                    <h5>about us</h5>
                                                                                </div>
                                                                            </button>

                                                                            <!-- Duplicate for desktop -->
                                                                            <div class="footer__body-no-mobile hidden-xs hidden-sm">
                                                                                <div class="footer__body-title">
                                                                                    <h5>about us</h5>
                                                                                </div>  
                                                                            </div>                                                              
                                                                        </h5>
                                                                    </div>
                                                                
                                                                    <div id="collapseLinks2" class="collapse" aria-labelledby="headingOne" data-parent="#aboutMobileExpandLinks">
                                                                        <div class="card-body">
                                                                            <ul class="footer__body-list">
                                                                                    <li><a href="">our story</a></li>
                                                                                    <li><a href="">careers</a></li>
                                                                                    <li><a href="">contact us</a></li>
                                                                                    <li><a href="">clients</a></li>
                                                                                    <li><a href="">vendors</a></li>
                                                                                    <li><a href="">press</a></li>
                                                                                    <li><a href="">legal</a></li>
                                                                                    <li><a href="">privacy policy</a></li>
                                                                                </ul>
                                                                        
                                                                        </div>
                                                                    </div>
                                                                </div>   
                                                        </div>
                                                    </div>

                                                    <div class="footer__body-column">
                                                        <div class="accordion" id="helpfulMobileExpandLinks">                                    
                                                                <div class="card">
                                                                    <div class="card-header" id="headingTwo">
                                                                        <h5 class="mb-0">
                                                                            <button class="footer__body-btn collapsed  hidden-md hidden-lg" type="button" data-toggle="collapse" data-target="#collapseLinks3" aria-expanded="false" aria-controls="collapseLinks3">
                                                                                <div class="footer__body-title">
                                                                                    <h5>helpful links</h5>
                                                                                </div>
                                                                            </button>

                                                                            <!-- Duplicate for desktop -->
                                                                            <div class="footer__body-no-mobile hidden-xs hidden-sm">
                                                                                <div class="footer__body-title">
                                                                                    <h5>helpful links</h5>
                                                                                </div>  
                                                                            </div>                                                              
                                                                        </h5>
                                                                    </div>
                                                                
                                                                    <div id="collapseLinks3" class="collapse" aria-labelledby="headingOne" data-parent="#helpfulMobileExpandLinks">
                                                                        <div class="card-body">
                                                                            <ul class="footer__body-list">
                                                                                    <li><a href="">my dashboard</a></li>
                                                                                    <li><a href="">payment</a></li>
                                                                                    <li><a href="">refinance</a></li>
                                                                                    <li><a href="">marketplace</a></li>
                                                                                    <li><a href="">customer support</a></li>
                                                                                    <li><a href="">faqs</a></li>
                                                                                    <li><a href="">customer ombudsman</a></li>
                                                                                </ul>
                                                                        
                                                                        </div>
                                                                    </div>
                                                                </div>   
                                                        </div>
                                                    </div>                                        
                                                </div>
                                            </div>                    
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="footer__footer">
                                                    <img src="/dist/assets/img/Equal_Housing_Opp_Grey.svg" />
                                                    <img src="/dist/assets/img/SSAE_16_SOC-Service_Org_B_Logo.svg" />
                                                    <p>© 2018 RoundPoint Mortgage Servicing Corporation RoundPoint Mortgage 
                                                            Servicing Corporation is a Washington Consumer Loan Company Licensee, 
                                                            NMLS ID 18188 For Additional Information, please visit: NMLS CONSUMER ACCESS</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        
                    </div>
                </div>
            </div>
    </div>

    <div class="container-fluid">
        <div class="row">
                            <!-- Copyright -->
                            <div class="col-md-12 footer__copyright">
                                    
                                    <div class="container-alt">
                                        
                                            <p>
                                                The Personal Household Economy ™
                                                By clicking Shop Now, you will be directed to a third-party website not operated or maintained by RoundPoint Mortgage Servicing Corporation or any of its affiliates (collectively, “RoundPoint”). 
                                                The link is provided as part of a marketing program which allows RoundPoint to potentially earn advertising fees. RoundPoint encourages you to review the third party’s privacy policy and security level, 
                                                which may differ from that of RoundPoint. RoundPoint does not monitor the content of the third-party website, nor does it guarantee the third party’s products or services. Any opinions expressed 
                                                on a third-party website are those of the third party and not those of RoundPoint.
                                                
                                                RoundPoint is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn 
                                                advertising fees by advertising and linking to amazon.com.
                                            </p>
                                    
                                    </div>
                                
                        </div>
                        <!--/Copyright -->            
        </div>
    </div>
</footer>