<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Roundpoint</title>
		<meta name="description" content="Roundpoint">
		<meta name="author" content="Roundpoint">
		<link href="/dist/assets/css/libs/jquery.flipster.css" rel="stylesheet">
		<link href="/dist/assets/css/app.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
</head>