<div class="comp__hero-cta">
    <div class="comp__hero-label">
        what would you like to do today?
    </div>

    <div class="comp__hero-options">
        <ul>
            <li class="col-xs-6 col-md-3">
                <a href="">
                    <div class="options-label">i have<br>a loan</div>
                    <span class="hero-hr"></span>
                </a>
                <span class="comp__hero-hr"></span>
            </li>
            <li class="col-xs-6 col-md-3">
                <a href="">
                    <div class="options-label">i need<br>a loan</div>
                    <span class="hero-hr"></span>
                </a>
                <span class="comp__hero-hr"></span>
            </li>	
            <li class="col-xs-6 col-md-3">
                <a href="">
                    <div class="options-label">make a<br>payment</div>
                    <span class="hero-hr"></span>
                </a>
                <span class="comp__hero-hr"></span>
            </li>		
            <li class="col-xs-6 col-md-3">
                <a href="">
                    <div class="options-label">discover<br>marketplace</div>
                    <span class="hero-hr"></span>
                </a>
                <span class="comp__hero-hr"></span>
            </li>															
        </ul>
    </div>
</div>