<nav class="navigation__section" role="navigation" aria-label="navigation">
    <div class="navigation__section-search hidden-md hidden-lg">
        <img src="/dist/assets/img/icons/search_icon.svg" />
        <input type="text" class="navigation__section-input" placeholder="SEARCH">
    </div>    
    <div class="navigation__content" id="main-nav-collapse" aria-expanded="true">
        <ul class="navigation-ul">
            <li class="navigation-li">
                <div class="accordion-heading">
                    <div class="navigation-a-wrapper">
                        <a href="" class="navigation-a">
                            <div class="navigation-label">i have a loan</div>
                        </a>

                        <a class="accordion-toggle collapsed" data-parent="#main-nav-collapse" desktop-href="/have" mobile-href="#collapse1" href="#collapse1" data-toggle="collapse" aria-expanded="true"></a>                        
                    </div>
                    <span class="line"></span>                    
                </div>
                <ul class="subnavigation-ul off collapse" id="collapse1" aria-expanded="true">
                    <li class="subnavigation-li">
                        <a href="/marketplace.html" class="subnavigation-a" >
                            have item one
                        </a>
                    
                    </li>
                    <li class="subnavigation-li">
                        <a href="" class="subnavigation-a">
                            have item two
                        </a>
                    </li>        
                    <li class="subnavigation-li" >
                        <a href="" class="subnavigation-a">
                            have item three
                        </a>
                    </li>
                    <li class="subnavigation-li" >
                        <a href="" class="subnavigation-a">
                            have item four
                        </a>
                    </li>                                  
                </ul>
            </li>
            <li class="navigation-li">
                <div class="accordion-heading">
                    <div class="navigation-a-wrapper">
                            <a href="" class="navigation-a">
                            <div class="navigation-label">i have a loan</div>
                        </a>

                        <a class="accordion-toggle collapsed" data-parent="#main-nav-collapse" desktop-href="/need" mobile-href="#collapse2" href="#collapse2" data-toggle="collapse" aria-expanded="true"></a>                        
                    </div>
                    <span class="line"></span>  
                </div>
                <ul class="subnavigation-ul off collapse" id="collapse2" aria-expanded="true">
                    <li class="subnavigation-li">
                        <a href="" class="subnavigation-a">
                                need item one
                        </a>
                    </li>
                    <li class="subnavigation-li">
                        <a href="" class="subnavigation-a">
                                need item two
                        </a>
                    </li>        
                    <li class="subnavigation-li">
                        <a href="" class="subnavigation-a">
                                need item three
                        </a>
                    </li>
                    <li class="subnavigation-li">
                        <a href="" class="subnavigation-a">
                                need item four
                        </a>
                    </li>                                  
                </ul>
            </li>
            <li class="navigation-li active"> <!-- "active" class indicates that we are on this page -->
                <div class="accordion-heading">
                    <div class="navigation-a-wrapper">
                        <a href="" class="navigation-a">
                            <div class="navigation-label">marketplace</div>
                        </a>                        
                    </div>
                    <span class="line"></span>                          
                </div>
            </li>
            <li class="navigation-li ">
                <div class="accordion-heading">
                    <div class="navigation-a-wrapper">
                        <a href="" class="navigation-a">
                            <div class="navigation-label">payment help</div>
                        </a>                        
                    </div>
                    <span class="line"></span>                          
                </div>
            </li>
            <li class="navigation-li ">
                <div class="accordion-heading">
                    <div class="navigation-a-wrapper">
                        <a href="" class="navigation-a">
                            <div class="navigation-label">insurance</div>
                        </a>                        
                    </div>
                    <span class="line"></span>  
                </div>                        
            </li>
            <li class="navigation-li ">
                <div class="accordion-heading">
                    <div class="navigation-a-wrapper">
                        <a href="" class="navigation-a">
                            <div class="navigation-label">resources</div>
                        </a>                        
                    </div>
                    <span class="line"></span>   
                </div>                       
            </li>
            <li class="navigation-li ">
                <div class="accordion-heading">
                    <div class="navigation-a-wrapper">
                        <a href="" class="navigation-a">
                            <div class="navigation-label">new customer</div>
                        </a>                        
                    </div>
                    <span class="line"></span>    
                </div>                      
            </li>
        </ul>

        <ul class="utility-ul navigation-ul hidden-md hidden-lg">
            <li class="utility-li navigation-li">
                <div class="navigation-a-wrapper">
                        <a href="" class="navigation-a">
                            <div class="navigation-label">pay now</div>
                        </a>                        
                    </div>
                    <span class="line"></span>                
            </li>

            <li class="utility-li navigation-li">
                <div class="accordion-heading">
                    <div class="navigation-a-wrapper">
                        <a href="" class="navigation-a">
                            <div class="navigation-label">eng</div>
                        </a>

                        <a class="accordion-toggle collapsed" data-parent="#main-nav-collapse" desktop-href="/have" mobile-href="#collapse3" href="#collapse3" data-toggle="collapse" aria-expanded="true"></a>                        
                    </div>
                    <span class="line"></span>                    
                </div>
                <ul class="subnavigation-ul off collapse" id="collapse3" aria-expanded="true">
                    <li class="subnavigation-li">
                        <a href="/marketplace.html" class="subnavigation-a" >
                            eng
                        </a>
                    
                    </li>
                    <li class="subnavigation-li">
                        <a href="" class="subnavigation-a">
                            ita
                        </a>
                    </li>        
                        
                </ul>                  
            </li>            
        </ul>
    </div>

    <div class="navigation__overlay">
        
    </div>
</nav>