<div class="comp__sort pull-right">
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                sort by
        </button>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="http://www.google.com">most relevant</a>
            <a class="dropdown-item" href="http://www.hotmail.com">most recent</a>
            <a class="dropdown-item" href="http://www.amazon.com">alphabetical</a>
        </div>

    </div>                            
</div>