p {
    line-height: 1.6;
    letter-spacing: 0;
    font-size: 1.1rem;
    margin-bottom: 20px;
    font-family: $font-graphik-light;
    color: $black;
 
    @include breakpoint(md) {       
    }
        
    @include breakpoint(lg) {
        letter-spacing: 0;
        font-size: 1.25rem        
    }
}

.p {
    line-height: 1.8;
    letter-spacing: 0.4px;
    font-size: 1.25rem;

    @include breakpoint(md) {
     
    }    
}

